html {
    text-size-adjust: 100%;
    body {
        background-color: #600;
        font {
            size: 14pt;
            weight: normal;
            family: sans-serif;
        }
        header {
            img {
                inline-size: 8rem;
                block-size: auto;
                margin: 0 auto;
                display: block;
            }
            h1 {
                color: #933;
                font-size: 2rem;
                text-align: center;
            }
        }
        main {
            h2 {
                color: #C66;
            }
            h3 {
                color: #F99;
            }
            h2, h3 {
                font-size: 2rem;
                line-height: 1em;
            }
            ul {
                list-style-type: square;
                padding-inline-start: 1rem;
            }
        }
        header, main {
            inline-size: 100svmin;
            margin: 0 auto;
            padding: 1rem;
            background-color: #FFF;
            color: #000;
        }
    }
}

* {
    padding: 0;
    margin: 0;
    line-height: 2em;
    font {
        size: 1em;
        weight: normal;
        family: sans-serif;
    }
    word {
        spacing: 0.25rem;
        break: break-all;
    }
    letter-spacing: 0;
    box-sizing: border-box;
    touch-action: manipulation;
    text-decoration: none;
    outline: none;
}